.container
	%h1 All Strains
	#products-wrapper
		- @weeds.each_slice(3) do |r|
			.row.index-product-row
				- r.each do |weed|
					%a{ href: weed_path(weed)	}
						.col-sm-4
							.index-product{style: "background-image: url(#{image_path "#{weed.image}"})"}
								%br
								%h2
									&nbsp
									= weed.name
									&nbsp
								%br
								%br
								%p
									&nbsp
									Mood:
									= weed.mood
									&nbsp
								%br
								%p
									&nbsp
									Strength:
									= weed.strength
									&nbsp
								%br
								%p
									&nbsp
									Price: $
									= weed.price
									&nbsp
