!!! 5

%html
%head
	%title Green 2 Go
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	.col-sm-2
		.row#side-nav
			%h1 GREEN2GO
			.nav
				%li
					%a.nav-item{ href: root_path }
						.inner
							Products
				%li
					%a.nav-item{ href: how_it_works_path }
						.inner
							How It Works
				%li
					%a.nav-item{ href: about_us_path }
						.inner
							About Us
				%li
					%a.nav-item{ href: checkout_path }
						.inner
							Checkout
				%li
					%a#admin-mode{ href: admin_path }
						.inner
							Admin
	.col-sm-10#main
		.col-sm-6.col-sm-offset-3.text-center= flash[:notice]
		= yield