!!! 5

%html
%head
	%title Green 2 Go
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	.container
		.col-sm-6.col-sm-offset-3.text-center= flash[:notice]
		= yield